# Binaries for programs and plugins
*.exe
*.zip
*.exe~
*.dll
*.so
*.dylib
tests/*/*debug*
examples/*/*debug*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode
tests/gl2d-rendertest/*diff*.png
